/* OverallData.css */
.overall-data-container {
    margin: 20px;
  }
  
  .overall-data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .overall-data-table th,
  .overall-data-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .overall-data-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .overall-data-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .overall-data-table tr:hover {
    background-color: #ddd;
  }
  